@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

:root {
    --bg-color: #fef2f2;
    --text-color: #68458c;
    --accent-color: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #fef2f2, #f0e2e2);
    z-index: -1;
    overflow: hidden;
}

.background svg {
    width: 300%;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wave {
    animation: wave 15s ease-in-out infinite alternate;
    transform-origin: center bottom;
}

.wave1 {
    animation-duration: 20s;
}

.wave2 {
    animation-duration: 25s;
}

.wave3 {
    animation-duration: 30s;
}

@keyframes wave {
    0% {
        transform: translateX(-10%) scaleY(1);
    }

    50% {
        transform: translateX(0%) scaleY(0.85);
    }

    100% {
        transform: translateX(10%) scaleY(1);
    }
}

header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 248, 231, 0.8);
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: 500;
    color: #613f56;
}

.menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000;
}

.menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--text-color);
    margin: 5px 0;
    transition: 0.4s;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.98);
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 30px;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
}

.menu-overlay.active {
    opacity: 1;
    visibility: visible;
}

.menu {
    list-style-type: none;
    width: 100%;
    max-width: 300px;
    text-align: center;
}

.menu li {
    margin: 20px 0;
    padding: 10px 0;
    border-bottom: 1px solid var(--text-color);
}

.menu li:last-child {
    border-bottom: none;
}

.menu a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s ease;
    display: block;
    padding: 10px 0;
}

.menu a:hover {
    color: var(--accent-color);
}

.close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--text-color);
    z-index: 1001;
}

.menu-open #heroSection {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

#heroSection {
    opacity: 1;
    margin-top: 35vh;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    margin-bottom: 10vh;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 1;
}

.hero h1 {
    font-size: 2rem;
    font-weight: 1200;
    margin-bottom: 10px;
}

.name {
    font-family: 'Pacifico', cursive;
    font-size: 4rem;
    font-weight: 400;
    color: #000000;
    line-height: 1.2;
    margin: 20px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 1rem;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons a {
    color: var(--text-color);
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: var(--accent-color);
}

.crafting-ideas {
    background: linear-gradient(135deg, #b19cd9, #f8bbd0);
    padding: 100px 20px;
    width: 100%;
    text-align: center;
    color: #8622c8;
    margin-top: 30vh;
    margin-bottom: 30vh;
}

#about {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

menu-open #about {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.crafting-ideas h2 {
    margin-top: 2vh;
    margin-bottom: 2rem;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: Archivo Black, sans-serif;
    ;
}

.line {
    width: 780px;
    height: 2px;
    background-color: #fff;
    margin: 20px auto;
    margin-bottom: 4vh;
}

.crafting-ideas p {
    margin-top: 20px;
    font-size: 1rem;
    color: #613F75;
    line-height: 1.6;
    margin-bottom: 15px;
    max-width: 780px;
    margin-left: 220px;
    margin-right: 0;
}

.skills {
    background: linear-gradient(135deg, #f8d7da, #e2d4f0);
    padding: 100px 20px;
    width: 100%;
    text-align: center;
    color: #8622c8;
    margin-bottom: 30vh;
}

.skills h2 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 26px;
    margin-bottom: 40px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.skill {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #613F75;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.skill:hover {
    transform: translateY(-5px);
}
#skills{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

menu-open #skills {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}


.projects {
    background-color: #9896d6;
    padding: 50px 20px;
    text-align: center;
    width: 100%;
}

.projects h2 {
    color: white;
    font-size: 26px;
    margin-bottom: 30px;
    font-family: 'Archivo Black', sans-serif;
}

.projects-container {
    display: flex;
    justify-content: center;
    gap: 2px;
    flex-wrap: wrap;
}

.project-card {
    background-color: #faf9f6;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    max-width: 450px;
    text-align: left;
}

.project-card h3 {
    color: #68458c;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.project-card .technologies {
    color: #888;
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.project-card .description,
.project-card .learnings {
    color: #333;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 15px;
}

.project-links {
    margin-top: 20px;
}

.project-links a {
    color: #68458c;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}

.project-links a:hover {
    text-decoration: underline;
}
#projects{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

menu-open #projects {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

@media (max-width: 768px) {
    .name {
        font-size: 3rem;
    }

    .crafting-ideas {
        padding-top: 150px;
        padding-bottom: 250px;
    }

    .crafting-ideas h2 {
        font-size: 1.5rem;
    }

    .crafting-ideas p {
        font-size: 1.125rem;
        color: #613F75;
        margin-left: 0;
        line-height: 1.75rem;

    }
    .skills h2 {
        font-size: 1.5rem;
    }
    
    .skill {
        font-size: 14px;
        padding: 8px 16px;
    }

    .projects-container {
        flex-direction: column;
        align-items: center;
    }
    .projects h2{
        font-size: 26px;
    }
    .project-card{
        margin-top: 3vh;
    }
}